body, body * {
	margin: auto;
	text-align: center;
	justify-content: center;
	text-align: center;
}

body {
	margin: 2em;
	flex-direction: column;
}

#canvas {
	border: 1px solid black;
}

#config {
	margin: 1em;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.control-description * {
	list-style: none;
	margin-top: 10px;
}

.control-name {
	font-weight: bold;
}

.control-description > p {
	font-size: 1.2em;
}

.control-description table, th, tr, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}